
<div class="focus-item well">
  <header>
    <span class="title ellipsis">{{title}}</span>
    <div class="edit-focus">
      <span class="glyphicon glyphicon-pencil"></span>
    </div>
  </header>
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" name="new-task-title" placeholder="New Task">
    <span class="input-group-btn">
      <button class="btn btn-default new-task" type="button">
        <span class="glyphicon glyphicon-plus"></span>
        {{!-- <i class="fa fa-plus"></i> --}}
      </button>
    </span>
  </div>
  <hr>
  <ul class="task-list"></ul>
</div><!-- .focus-item.well -->
