
<li class="task uncompleted color-neutral">
  <!-- left-hand side checkbox -->
  <div class="task-controls task-primary">
    <span class="task-checker action-yesno">
      <input type="checkbox" class="visuallyhidden focusable" id="{{id}}">
      <label for="{{id}}"></label>
    </span>
  </div>
  <!-- main content -->
  <div class="task-text">
    {{title}}
    <span class="edit-task">
      <span class="glyphicon glyphicon-pencil"></span>
    </span>
  </div>
</li>
