<div class="modal-dialog">
  <div class="modal-content">
    <div id="modal-header-region"></div>
    <div class="modal-body">
      <div id="modal-body-region"></div>
    </div>
    <div id="modal-footer-region"></div>
  </div>
</div>